
<div class="topnav">
  

  <div class="links">
    <a href="index.html"> Accueil</a>

    <a href="geoportail.html" data-module="geoportail">
      🌐 Géoportail
      <span class="count" id="kpi-communes">—</span>
    </a>

    <a href="projets.html" data-module="projets"> Projets</a>
    <a href="beneficiaires.html" data-module="beneficiaires"> Bénéficiaires</a>

    
    <a href="dashboard.html" data-module="dashboard">
       Tableau de bord
      <span class="count" id="kpi-projets">—</span>
    </a>

    <a href="finance.html" data-module="finance"> Gestion financière</a>
    <a href="financement.html" data-module="financement"> Fonds de financement</a>

    <a href="admin.html" data-module="admin"> Admin</a>
  </div>

  <div class="userbox">
    <span class="user" id="user-label"></span>
    <a class="logout" href="#" id="btn-logout">Déconnexion</a>
  </div>
</div>
